.routerLink {
    text-decoration: none;
    color: inherit;
}

.routerLink:hover {
    cursor: pointer;
}

.errorMessage {
    color: blue;
    font-weight: bold;
}

/**************************/
/* Navbar */
#navbarContainer {
    padding: 8px 0px;
}
 
#navbarList {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
}

#navbarList:first-child {
    margin-left: 100px;
}

#navbarList:last-child {
    margin-right: 100px;
}

#navLogoContainer {
    height: 30px;
    width: 30px;
}

#navLogoContainer > * {
    max-height: 100%;
    max-width: 100%;
}

#navLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 25px;
    flex-grow: 2;
    margin-left: 145px;
}

#logoutSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 25px;
}

.navItem {
    padding: 5px 15px;
}

.routerLink:hover {
    border-radius: 50px;
    border: 2px solid lightgray;
    margin: -2px;
}

.routerLink.active {
    background-color: lightgray;
    border-radius: 50px;
}

/**************************/
/* Heading */
h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 1.85rem;
    font-weight: 550;
}

h3 {
    font-size: 1.25rem;
    font-weight: 400;
}

/**************************/
/* Input */
label {
    font-weight: bold;
}

input {
    border-radius: 8px;
    border: 1px solid gray;
    padding: 8px 5px;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width: 100%;
}

/**************************/
/* Button */
button {
    border-radius: 21px;
    padding: 10px 20px;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
}

.primaryBtn {
    background-color: #035D79;
    color: white;
    border: 2px solid white;
}

.primaryBtn:hover {
    background-color: white;
    color: #035D79;
    border: 2px solid #035D79;
}

.primaryBtn:active {
    background-color: #023949;
    color: white;
    border: 2px solid #035D79;
}

.secondaryBtn {
    background-color: white;
    color: #035D79;
    border: 2px solid #035D79;
}

.secondaryBtn:hover {
    background-color: #035D79;
    color: white;
    border: 2px solid white;
}

.secondaryBtn:active {
    background-color: lightgray;
    color: #035D79;
    border: 2px solid #035D79;
}

/**************************/
/* Filter */
.filter {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    max-width: 100px;
}

/**************************/
/* Dog List/Item */
.dogsList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 50px;
}

.dogItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 225px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dogItem:hover {
    background-color: #035D79;
}

.dogInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    row-gap: 10px;
    padding: 20px 0px 15px 0px;
    border-top: 3px solid #035D79;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition-property: background-color, color, border-color;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
}

.dogItem:hover > .dogInfo {
    color: white;
    border-color: white;
    background-color: #035D79;
}

.dogImgContainer {
    width: 225px;
    height: 225px;
}

.dogImgContainer > img {
    float: left;
    width:  100%;
    height: 100%;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.dogInfoLabel {
    font-weight: bold;
}

.dogHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dogHeading > * {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.dogDetails {
    padding: 0px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.dogDetails > * {
    display: flex;
    flex-direction: row;
}

#favoriteBtn {
    color: gold;
    border-color: gold;
    padding: 0;
    width: 35px;
    height: 35px;
}

#favoriteBtn.active {
    background-color: gold;
    color: white;
}

#favoriteBtn:hover {
    background-color: gold;
    color: white;
}
